.buttonRow {
  &__item {
    background-color: #454545;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    margin: 10px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  &__inactive {
    background-color: #e4e4e4;
    pointer-events: none;
  }
}
